---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
  loading: "eager" | "lazy";
}

const { post, loading } = Astro.props;
---

<li class="group w-full md:w-[calc(50%-1rem)] md:first:w-full">
  <a
    class="group-hover:text-indigo-700 dark:group-hover:text-indigo-400 no-underline transition-all"
    href={`/blog/${post.slug}/`}
  >
    {
      post.data.heroImage && (
        <Image
          width={720}
          height={360}
          src={post.data.heroImage}
          loading={loading}
          alt=""
          class="group-hover:shadow-md group-first:w-full rounded-lg mb-2"
        />
      )
    }

    <h4
      class="m-0 text-black dark:text-white group-hover:text-indigo-700 dark:group-hover:text-indigo-400 text-2xl group-first:md:text-4xl"
    >
      {post.data.title}
    </h4>

    <p
      class="text-gray-500 dark:text-gray-400 group-hover:text-indigo-700 dark:group-hover:text-indigo-300"
    >
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>
